# Core dependencies
fastapi>=0.115.12
uvicorn>=0.34.2
python-dotenv>=1.1.0
pydantic>=2.11.4
requests>=2.32.3
pywin32>=310

# Screenshot module
pyautogui>=0.9.54
pillow>=11.2.1

# Web browser module
selenium>=4.32.0
webdriver-manager>=4.0.2

# Testing
pytest>=8.3.5
httpx>=0.28.1

# Anthropic SDK
anthropic>=0.51.0
